.wrapper {
  border: solid 1px rgba(11, 30, 89, 0.2);
  border-radius: 3px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: repeat(4, 90px);
  grid-template-rows: repeat(6, 75px);
  font-family: "Lato", sans-serif;
  font-size: 26px;
  font-weight: 400;
  margin: 60px auto;
  padding: 10px;
  row-gap: 10px;
  width: fit-content;
  text-align: center;
}

.input {
  border: solid 2px rgba(11, 30, 89, 0.2);
  border-radius: 3px;
  color: rgba(11, 30, 89, 0.9);
  grid-area: 1/1/2/5;
  line-height: 75px;
  font-size: 24px;
  padding-right: 10px;
  text-align: right;
}

.button {
  background-color: rgba(168, 190, 219, 0.2);
  border: solid 1px rgba(11, 30, 89, 0.2);
  border-radius: 3px;
  color: rgba(11, 30, 89, 0.9);
  font-size: 24px;
  line-height: 75px;
  transition: all 200ms ease-in-out;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(168, 190, 219, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.calculation-symbol {
  background-color: rgba(168, 190, 219, 0.7);
}

.calculation-symbol:hover {
  background-color: rgba(168, 190, 219, 0.8);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.equals {
  background-color: rgba(241, 201, 81, 0.5);
  border: solid 1px rgba(11, 30, 89, 0.2);
  border-radius: 3px;
  color: rgba(11, 30, 89, 0.9);
  font-size: 24px;
  grid-area: 3/4/7/5;
  line-height: 322px;
}

.equals:hover {
  background-color: rgba(241, 201, 81, 0.6);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}
